
@{
    Layout = "_Layout";
}
<body>
    <h3>Login</h3>
    <form method="post">
        <p>
            <label>Input login</label><br />
            <input type="text" name="login" />
        </p>
        <p>
            <label>Input Password</label><br />
            <input type="password" name="password" />
        </p>
        <input type="submit" value="Login" />
    </form>
</body>
